# Adjust according to your needs
name: Release RC

on:
    issue_comment:
        types:
            - created

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
    id-token: write
    contents: write # to create release

jobs:
    canary:
        if: ${{ github.event.issue.pull_request && (github.event.comment.body == 'rc-publish' || github.event.comment.body == '/rc-publish')}}
        runs-on: ubuntu-latest
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Get PR branch name
              id: get_branch
              run: |
                  PR=$(curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" ${{ github.event.issue.pull_request.url }})
                  echo "::set-output name=branch::$(echo $PR | jq -r '.head.ref')"

            - uses: actions/checkout@v4
              with:
                  ref: ${{ steps.get_branch.outputs.branch }}
                  fetch-depth: 0
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  cache: 'pnpm'

            - name: Check and upgrade npm
              run: |
                  echo "Current npm version:"
                  npm --version
                  npm install -g npm@latest
                  echo "Upgraded npm version:"
                  npm --version

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Build
              run: pnpm build

            - name: RC Publish
              uses: NaverPayDev/changeset-actions/canary-publish@main
              with:
                  github_token: ${{ secrets.ACTION_TOKEN }} # Add user PAT if necessary
                  npm_tag: rc # Specify the npm tag to use for deployment
                  publish_script: pnpm run release:canary # Script to execute Canary deployment
                  packages_dir: packages # Directory of packages to detect changes (default: packages,share)
                  excludes: '.turbo,.github' # Files or directories to exclude from change detection
                  version_template: '{VERSION}-rc.{DATE}-{COMMITID7}'
                  create_release: true
